.container{
    text-align: center;
}
#myCarousel{
    background-color: crimson;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    font-size: 30px;
    color:azure;
    margin-bottom: 15px;
    margin-top: 15px;
}